* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --color1: #f8f7e5;
    --color2: #c18d52;
    --color3: #081b1b;
    --color4: #203b37;
    --color5: #5a8f76;
    --color6: #96cdb0;
}

section {
    min-height: 100vh;
    background-color:var(--color1) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-top: 50px;
}

.card {
    background-color: var(--color5);
}

.h {
    color: black;
    margin-bottom: 10px;
}

.hs {
    color: black !important;
}

hr {
    color: var(--color2) !important;
}

.img-fluid {
    margin-left: 15%;
}


.form-floating input{
    border: none;
    background-color: #5a8f76;
    border-bottom:  #f8f7e5 solid 1px!important;
    border-radius: 0px;
    /* cursor: pointer ; */
}

.btn {
    background-color: var(--color1);
    color: black;
    border: none;
    width: 50%;
}

.btn:hover {
    background-color: var(--color3);
    color: white;
}
@media (max-width: 700px) {
    .error{
    width: 70%;
    position:absolute;
    top:10px;
    left:60px;
    margin:auto;
    }
    .container{
        margin-top:30px;
    }
}