@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');

:root {
    --color1: #edecdd;
    --color2: #c18d52;
    --color3: #0e2f2f;
    --color4: #203b37;
    --color5: #5a8f76;
    --color6: #96cdb0;
}

* {
  box-sizing: border-box;
}
body{
    background-color:var(--color1)  !important;
}
h1{
    font-family: "Lancelot", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color4) !important;
   
    font-weight: bold !important;
    font-size: 40px !important;
}
.page-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
  gap: 6%;
  
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 16.75em;
  overflow: hidden;
  border-radius: .5em;
  text-decoration: none;
  background: white;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .1);
  transition: transform .45s ease, background .45s ease;

h3 {
    color: #2E3C40;
    font-size: 2em;
    font-weight: 600;
    line-height: 1;
    padding-bottom: .5em;
    margin: 0 0 0.142857143em;
    border-bottom: 2px solid var(--color4);
    transition: color .45s ease, border .45s ease;
    font-family: "Lancelot", serif;
  }

  h4 {
    color: #627084;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0 0 1.777777778em;
    transition: color .45s ease;
  }

  p {
    opacity: 0;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.8;
    margin: 0 0 1.25em;
    transform: translateY(-1em);
    transition: opacity .45s ease, transform .5s ease;
  }

  .link-text {
    display: block;
    color: var(--color4);
    font-size: 1.125em;
    font-weight: 600;
    line-height: 1.2;
    margin: auto 0 0;
    transition: color .45s ease;

    svg {
      margin-left: .5em;
      transition: transform .6s ease;
      
      path {
        transition: fill .45s ease;

      }
    }
  }
  
  &:hover {
    background: var(--color4);
    transform: scale(1.02);
    
    h3 {
      color: #FFFFFF;
      border-bottom-color: var(--color4);
    }

    h4 {
      color: #FFFFFF;
    }

    p {
      opacity: 1;
      transform: none;
    }

    .link-text {
      color: #FFFFFF;

      svg {
        animation: point 1.25s infinite alternate;
        
        path {
          fill: #FFFFFF;
        }
      }
    }
  }
}

@keyframes point {
  0% {
   transform: translateX(0);
  }
  100% {
    transform: translateX(.125em);
  }
}