* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
:root {
    --color1: #f8f7e5;
    --color2: #c18d52;
    --color3: #081b1b;
    --color4: #203b37;
    --color5: #5a8f76;
    --color6: #96cdb0;
}
body{
    background-color: var(--color1) !important;
    height: 100vh;
}
.title{
    font-family: "Lancelot", serif !important;
    font-weight: bold;
    color: var(--color4);
    font-size: 60px;
    text-align: center;
}
.report{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}
.report form{
    text-align: center;
    width: 50%;
    border: #203b37 1px solid;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
}
form label{
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 25px;
    color: #203b37;


}
form input{
    margin-bottom: 30px;
    width: 80%;
    border: none;
    border-bottom: #203b37 2px solid;
    outline: none;
}
form button{
    margin-bottom: 30px;
    padding: 8px 20px;
    border-radius: 8px;
    background-color: #203b37;
    color: var(--color1);
    transition: 1s;
}
form button:hover{
    background-color: var(--color5);
  

}