* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --color1: #edecdd;
    --color2: #c18d52;
    --color3: #0e2f2f;
    --color4: #203b37;
    --color5: #5a8f76;
    --color6: #96cdb0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color1);
    font-family: "Rubik", sans-serif;

}


.form {
    background-color: var(--color4);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 30%;
    border: none;
    border-radius: 30px;
}

.form h1 {
    color: var(--color1);
    padding-block: 10px;
}

.form .input-span {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    outline: none;
}

.form .input-span p{
    color: #fff;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0px;
    padding: 1rem 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    border-bottom: var(--color1) solid 2px;
    outline: none;
}

.form input::placeholder {
    color: var(--color1);
}



.form .submit {
    padding: 7px 10px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 3rem;
    background-color: var(--color1);
    color: var(--color3);
    border: none;
    cursor: pointer;
    transition: all 300ms;
    font-weight: 600;
    font-size: 0.9rem;
}

.form .submit:hover {
    background-color: var(--color4);
    color: var(--color1);
}

@media(max-width:700px){
    .form{
        width: 80%;
    }
}
